* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header{
    background-color: rebeccapurple;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
}    

h1 a {
    color:black;
}

header nav ul li a {
    color:blanchedalmond;
}

header h1 {
    padding: 30px;
}

.block-div {
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
    /* padding: 50px; */
    align-items: center;
    background-color: whitesmoke;
}


.block-div p {
    display: flex;
}

.block-1 {
    /* background-color:rebeccapurple; */
    padding: 50px;
    width: 1000%;
    height: 1000%;
    /* display: flex; */
    margin-top: 20px;
    background-image: url(../assets/images/pexels-photo-2670898.jpeg);
}

.block-1 h2 {
    color: red;
}

/* .block-2 p {
    border-left: 3px solid;
    padding-left: 30px;} */

.block-2 {
    background-color: rosybrown;
    display: flex;
    margin-left: 120px;
    padding: 50px;
    margin-bottom: 20px;
}

.block-3 {
    /* background-color: rosybrown; */
    width: 1350px;
    height: 1350px;
    margin-left: 120px;
    padding: 50px;
    margin-bottom: 20px;   
    display: flex;
    display: wrap;
    justify-content: space-between;
}

.block-div h2 {
    color: blanchedalmond;
}

header nav ul li {
    display: inline-block;
    padding: 40px;
    margin-top: 10px;
    color: yellow;

}


header h1 {
    color: blanchedalmond;
}

.block-1 img {
    width: 170px;
    height: 150px;
    border-left: 3px solid;
    padding-left: 1px;
}
.block-4 {
    display: flex;
    justify-content: space-between;
    flex-direction:row;
    flex-wrap: wrap;
    /* background-color: blanchedalmond;     */
    width: 100%;
}

footer h3 {
    display: inline-block;
    color: blueviolet;
    padding: 40px;
    margin-top: 10px;  
}

/* .contact-method {
    display: flex;
    flex-wrap: wrap;
} */

.container {
    display: flex;
    flex-wrap: wrap;
}


#sub-block1 {
    /* display: flex; */
    background-color: black;
    width: 50%;
    /* display;  */
}

#sub-block2 {
    /* display: flex; */
    background-color: black;
    width: 50%;
    margin: 20px;
    float: right;

}


#sub-block3 {
    /* display: flex; */
    background-color: black;
    width: 50%;
    margin: 20px;

}

#sub-block4 {
    /* display: flex; */
    background-color: black;
    width: 50%;
    margin: 20px;

}




   

    
